body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  overflow-x: hidden;
  min-height: 100vh; 
}
nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*  Drop down list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


li {
  display: inline-block;
  position: relative;
 
}


.dropdown ul li a {
  display: block;
}


ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  top: calc(100% + 2px);
  padding: 10px;
  left: 0;
}


ul li:hover ul.dropdown {
  display: block;
}


ul li ul.dropdown li {
  display: block;
}


.dropdown-btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 53, 61, 1);
}
.dropdown{
  background-color: white;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}


nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav a img {
  vertical-align: middle;
  margin-right: 8px;
}


nav a:hover,
.dropdown-btn:hover {
  background-color: #ddd;
  color: black;
}


.login-btn {
  border-radius: 60px;
  background-color: white;
  color: #548bab;
  border: 1px solid #548bab;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 47px;
}


.register-btn {
  border-radius: 60px;
  background-color: #548bab;
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  width: 160px;
  height: 47px;
}
.update {
  width: 100%;
  height: 364px;
  margin: 0;
  padding: 0; 
}

.background {
  display: flex;
  width: 100%;
  height: 364px;
  }
  .dropdown{
    background-color: white;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
   
/* ----------------Drop list ------------------------------------ */

.form {
  text-align: center; 
  margin: 0 auto; 
}

.form select {
  width: 753px; 
  height: 60px; 
  padding: 10px 32px 8px 32px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 18px;
  line-height: 31px;
  gap: 10px;
  font-weight: 400;
  color: #8F8F8F;     
  font-family: 'Inter'; 
}
  
h6 {
  display:flex ;
  font-size: 0.67em;
  font-weight: bold;
  margin-left: 23.5%;
  color: #548BAB;
  position: absolute;
  width: 40px;
  height: 35px;
  left: 0%;
  margin-right: 50px; 
  margin-top: 5px;
  /* font-family: 'Open Sans'; */
}
/* ----------------People's pictures------------------------------------ */
.All-division {
  max-width: 1277.5px;
  max-height: 1219px;
  position: absolute;
  top: 545px;
  left: 81px;
  gap: 73px;
  justify-content: center;
  }

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  justify-content: center;
  width: 1277.5px; 
  height: 1219px;
  margin-top: 100px;
  left: 81px;
  gap: 32px;
  padding: 24px;
  color: #FFFFFF;
  }

.class1{
  color: black;
  text-align: center;
  font-weight: 700px;
  letter-spacing: 0px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Montserrat';

  }

.paragraph{
  color: #595959;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  font-family: 'Montserrat';

  }

.See-more {
  color: #548BAB;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';

  }
  
.See-more img {
  width: 20px; 
  height: 20px; 
  margin-left: 5px; 
  }
/* ----------------Opacity------------------------------------ */
.background-color {
  width: calc(100% - (9% * 2)); 
  height: 464px;
  background-color: #C9DFEE; 
  padding: 0;
  display: flex;
  margin: 0 9%; 
}

.blue-one { 
  width: 1535%;
  height: 464px;
  background-color: #C9DFEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 0;
  margin-top: 15%;
  margin-left: -85px;
  }
  
  
  .shesh{
  margin-left: 70px;
  }

  .orangeSmile {
  margin-top: 60px;
  margin-left: -85PX;
  max-width: 100%;
  }
  
  .Looking{
  width: 586px;
  height: 48px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  }
  
  
  .browse{
  width: 212.77px;
  height: 55.37px;
  border: none;
  top: 153px;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #FFFFFF;
  background-color: #548BAB;
  margin: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  }
  
  
  .vacancy{
  width: 212.77px;
  height: 55.37px;
  top: 153px;
  border: none;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #548BAB;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  }

  .footer {
  background-color: FBFBFB;
  padding: 20px;
  text-align: center;
  margin-top: 251px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  }
   
   
  .footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px;
  }
   
   
  .glee{
    margin-left: 50px;
    width: 176px;
    height: 48px;
    top: 275px;
    left: 112px;
    color:#548BAB;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: baseline;
  }
   
   
  .footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30%;
  align-items: flex-start;
  margin-top: 20px;
  }
   
   
 .footer-column {
  flex: 1;
  margin: 0 10px;
  }
   
   
.footer-column a {
  display: block;
  color:#6B7280;
  text-decoration: none;
  margin-bottom: 10px;
  }
   
   
.footer-column a:hover {
  color: blue;
  }
   
   
.footer-line {
  border-bottom: 1px solid #E5E7EB;
  margin-top: 3%;
  }
   
   
.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10%;
  }
   
   
  .social-icons img {
  width: 30px;
  height: 30px;
  margin:  9px;
  cursor: pointer;
  }
   
   
  .centered-text {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 2%;
  }
  
.centered-text a {
  
  color: black;
  text-decoration: none;
  margin-left: 50px;
  }

.centered-text a:hover {
  color: blue;
  }
  
.bott {
  display: flex;
  justify-content: center;
  }
   
   
.bott img {
  margin-top: 20px;
  }
 
.form {
  text-align: center; 
  margin: 0 auto; 
  
}

.form select {
  width: 753px; 
  height: 60px; 
  padding: 10px 32px 8px 32px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 18px;
  line-height: 31px;
  gap: 10px;
  font-weight: 400;
  color: #8F8F8F;   
    
}
  

